---
import { apiUrlHelper } from "../../../utils/api.config";
import { fetchFromApi } from "../../../utils/api.config";
import Head from "@components/_head.astro";
import Footer from "@components/dashboard/_footer.astro";
import Topbar from "@components/dashboard/_topbar.astro";
import Sidenav from "@components/dashboard/_sidenav.astro";
import Scripts from "@components/_scripts.astro";


const title = "AdminLTE 4 | General Form Elements";
const path = "../../../dist";
const mainPage = "registerEvent";
const page = "registerForm";
const events = await fetchFromApi(apiUrlHelper.EventsAPI, "GET");
const res = await fetchFromApi(apiUrlHelper.UsersAPI, "GET");
const load = await fetchFromApi(apiUrlHelper.EventAttendeesAPI, "GET");

// Invited Attendee to join event
//const formatDate = (dateString) => new Date(dateString).toLocaleDateString();
const formatTime24 = (dateString) => {
  const date = new Date(dateString);
  return date.toLocaleTimeString('en-US', {
    hour: '2-digit',
    minute: '2-digit',
    hour12: false
  });
}
// Invited Attendee to join event
// Get the hash from URL params
const hash  = "1729e1aa8-68b4-4b82-899b-5d576690ab5a";

---

<!DOCTYPE html>
<html lang="en">
  <!--begin::Head-->
  <head>
    <Head title={title} path={path} />
  </head>
  <!--end::Head-->
  <!--begin::Body-->
  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <!--begin::App Wrapper-->
    <div class="app-wrapper">
      <Topbar path={path} />
      <Sidenav path={path} mainPage={mainPage} page={page} />
      <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6">
                <h3 class="mb-0">Registration Event Form YY</h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    General Form
                  </li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content Header-->
        <!--begin::App Content-->
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">                         
              <!--begin::Col-->
              <div class="col-md-10">

                 <!--Begin: Fetch data from API --> <!--TO BE CONTINUED-->
                 <h1>Upcoming Events</h1>
                 <h3>EventAttendeeHash: 1729e1aa8-68b4-4b82-899b-5d576690ab5a</h3>
<!-- Use EventAttendeeHash to  -->


                  <ul>
                    {events.map(data => (
                    <li key={data.id}>
                    <h2>Event Name:{data.eventName}</h2>
                    <p>Event Description:{data.eventDescription}</p>
                    <p>Event Date:{data.eventDate}</p>
                    <p>Event Location:{data.eventLocation}</p>
                    <p>Event Start Time:{formatTime24(data.eventTimeStart)}</p>
                    <p>Event End Time:{formatTime24(data.eventTimeEnd)}</p>
                    </li>
                     ))}
                  </ul>
                 <!--End: Fetch data from API -->
                 
 <!--test: Fetch data from API -->
 <!-- <ul>
  {load.map(data => (
  <li key={data.eventAttendeeHash}>
  <h2>Event Name:{data.eventId}</h2>
  </li>
   ))}
</ul> -->
              
 <!--Test: Fetch data from API -->

                 

                <!--begin::Form Validation-->
                <div class="card card-info card-outline mb-20">
                  <!--begin::Header-->
                  <div class="card-header">
                    <div class="card-title">Registration Form Validation</div>
                  </div>
                  <!--end::Header-->
                  <!--begin::Form-->
                  <form class="needs-validation" novalidate id="submitform">
                    <!--begin::Body-->
                    <div class="card-body">
                      <!--begin::Row-->
                      <div class="row g-3">
                        <!--begin::Col-->
                        <div class="col-md-6">
                          <label for="validationName" class="form-label"
                            >Name</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="validationName"
                            required
                          />
                          <div class="valid-feedback">Looks good!</div>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-6">
                          <label
                            for="validationEmail"
                            class="form-label">Email Address</label
                          >
                          <div class="input-group has-validation">
                            <span
                              class="input-group-text"
                              id="inputGroupPrepend">@</span
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="validationEmail"
                              aria-describedby="inputGroupPrepend"
                              required
                            />
                            <div class="invalid-feedback">
                              Please enter valid email address.
                            </div>
                          </div>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-6">
                          <label for="validationContact" class="form-label"
                            >Contact number</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="validationContact"
                            required
                          />
                          <div class="invalid-feedback">
                            Please provide a valid contact number.
                          </div>
                        </div>
                        <!--end::Col-->
                      </div>
                      <!--end::Row-->
                    </div>
                    <!--end::Body-->
                    <!--begin::Footer-->
                    <div class="card-footer">
                      <button class="btn btn-info" 
                      type="submit"
                      >Submit</button
                      >
                    </div>
                    <!--end::Footer-->
                  </form>
                  <!--end::Form-->
<!-- YY -->
  <!--begin::JavaScript-->
  <script is:inline>
    (() => {
      "use strict";

      const form = document.getElementById("submitform");
      // const alertBox = document.getElementById("alert");

      form.addEventListener("submit", async (event) => {
        event.preventDefault(); // Prevent the default form submission

        const formData = {
          name: document.getElementById("validationName").value,
          email: document.getElementById("validationEmail").value,
          contactNumber:
            document.getElementById("validationContact").value,
          // createdAt: document.getElementById("startDate").value,
        };

        if (!form.checkValidity()) {
          event.stopPropagation();
        } else {
          try {
            console.log(formData);
            const data = await fetchFromApi(
              apiUrlHelper.UsersAPI,
              "POST",
              formData
            );
            console.log(data); // Log the response data

            // Show the alert
            alertBox.classList.remove("d-none");

            // Optionally hide the alert after a few seconds
            setTimeout(() => {
              alertBox.classList.add("d-none");
              window.location.reload();
            }, 3000);
          } catch (error) {
            console.error("Error submitting form:", error);
          }
        }
        form.classList.add("was-validated");
      });
    })();
  </script>
  <!--end::JavaScript-->
                  <!-- YY -->
                   

                  <!--begin::JavaScript-->
                  <!-- <script is:inline>
                    // Example starter JavaScript for disabling form submissions if there are invalid fields
                    (() => {
                      "use strict";

                      // Fetch all the forms we want to apply custom Bootstrap validation styles to
                      const forms =
                        document.querySelectorAll(".needs-validation");

                      // Loop over them and prevent submission
                      Array.from(forms).forEach((form) => {
                        form.addEventListener(
                          "submit",
                          (event) => {
                            if (!form.checkValidity()) {
                              event.preventDefault();
                              event.stopPropagation();
                            }

                            form.classList.add("was-validated");
                          },
                          false
                        );
                      });
                    })();
                  </script> -->
                  <!--end::JavaScript-->
                </div>
                <!--end::Form Validation-->
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->
      <Footer />
    </div>
    <!--end::App Wrapper-->
    <!--begin::Script-->
    <Scripts path={path} />
    <!--end::Script-->
  </body><!--end::Body-->


  <div class="col-md-6">
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"
        ><b>Contact</b></span
      >
      <input
        type="text"
        class="form-control msg-contact"
        id="validationContact"
        
        aria-describedby="inputGroupPrepend"
        required
      />
      <div class="invalid-feedback">
        Please input a valid contact number.
      </div>
    </div>
  </div>
</html>
