---
// import { getUserProfiles } from "@components/faker/fake-data.astro";
import { apiUrlHelper, fetchFromApi } from "../../../utils/api.config";
import Create from "@components/organizer-management/create.astro";
import Edit from "@components/organizer-management/edit.astro";
import Delete from "@components/organizer-management/delete.astro";

const { message = "" } = Astro.props;
const path = "../../../dist";
const users = await fetchFromApi(apiUrlHelper.UsersAPI, "GET");
const mainPage = "organizer-management";
const page = "main";
// const userProfiles = getUserProfiles(10);
---

<get-func data-message={message}>
  <div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
      <!--begin::Row-->
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <!-- <div id="alert" class="alert alert-success d-none" role="alert">
            Alert
          </div> -->
          <div class="card mb-4">
            <div class="card-header align-items-center">
              <h3 class="card-title" id="pageTitle">Organizers</h3>
              <div class="card-tools">
                <!-- <ul class="pagination pagination-sm float-end">
                  <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                  </li>
                </ul> -->
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table table-striped" id="dataTable">
                <thead>
                  <tr>
                    <th class="col-1">#</th>
                    <th class="col-3">Name</th>
                    <th class="col-2">Email</th>
                    <th class="col-2">Contact</th>
                    <th class="col-2">Created At</th>
                    <th class="col-2">Updated At</th>
                    <th class="col-2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {
                    users.map((data) => (
                      <tr class="align-middle">
                        <td>{data.id}</td>
                        <td>
                          <img
                            src={path + "/assets/img/default-150x150.png"}
                            alt="Product 1"
                            class="rounded-circle img-size-32 me-2"
                          />
                          {data.name}
                        </td>
                        <td>{data.email}</td>
                        <td>{data.contactNumber}</td>
                        <td>{data.createdAt}</td>
                        <td>{data.updatedAt}</td>
                        <td>
                          <Edit message={JSON.stringify(data)} />
                        </td>
                      </tr>
                    ))
                  }
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!--end::Row-->
      <div
        id="toastSuccess"
        class="toast toast-success"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="position: absolute; bottom: 20px; right: 20px;"
      >
        <div class="toast-header">
          <div class="spinner-border spinner-border-sm text-light me-2"></div>
          <strong class="me-auto">Update Organizer</strong>
          <small id="toastTime">value</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
          Hello, world! This is a toast message.
        </div>
      </div>
      <!--end::Container-->
    </div>
  </div>

  <script></script>
</get-func>
